# Libraries used in the project
argparse
openai
json
os
nltk
datetime
gpt_functions
knowledgeDB_search
pyperclip
typing
langchain.embeddings
langchain.docstore.document
gotrue
supabase
logging
dotenv
